<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo-img" [src]="isDarkMode ? '../../assets/icon/logo_dark.png' : '../../assets/icon/logo_light.png'">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngIf="locationList.length > 0">
      <ion-item text-wrap *ngFor="let location of locationList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ location.Name }}</ion-card-title>
            <ion-card-subtitle><span *ngIf="location.City">{{ location.City }}, </span>{{ location.State }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="location.AddedToPlacesDate" color="primary">Visited: {{location.AddedToPlacesDate | date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ location.DisplayInformation }}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </div>
    <div *ngIf="locationList.length == 0">
      <ion-item color="danger">
        <ion-label>No Locations Found</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
